.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:40px;
    color: rgba(0,0,0,.50);
    display: inline-block;
    text-align: left;
    font-size: 0.8em;
    line-height: 160%;
    font-family: 'Lato', sans-serif;
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #1C9963 !important;
}
.error{
    text-align: center !important;
}
@media screen and (min-width: 991px) {
    .index-text {
        width: 45%;
    }
}

@media screen and (max-width: 991px) {
    .index-text {
        width: 90%;
    }
}
