.all{
  font-family: 'Crimson Text', serif;
  margin-top: 20px;
}

.blog_title{
  margin-top: 85px;
  margin-bottom: 40px;
  text-align: center;
  border: 0.5px dotted black;
}

@media only screen and (min-device-width: 480px) {
    .all{
    margin-left: 30%;
    margin-right: 30%
  }
}

@media only screen and (max-device-width: 480px) {
    .all{
    font-size: 20pt;
  }
}

.blog_section{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}


.blog_paragragh{
  margin-top: 20px;
  margin-bottom: 20px;
}
