<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<!-- <meta name="viewport" content="width=device-width"> -->
		<title>  </title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lekton|Work+Sans" rel="stylesheet">
	</head>

	<body>
		<h1> Hmmmm let's hope this shit works???? </h1>
		<div class = 'all'>
			<div class = 'blog_title'><h3> Second blog out there </h3></div>
			<div class = 'blog_section'>
				# NAMSHI (this is kinda techy?)
			</div>
				<div class = 'blog_paragragh'>
					 Today I'm really really happy because I finished 90% of a task that was assigned to me this week! My task is to enable customers to update their language preference. Basically, Namshi sends out lots of emails and SMS everyday for marketing and notification reasons. And the app decides on the users' preferred language when they purchase an item. However, some users are receiving messages in antoher language that they don't want.
				</div>
				<div class = 'blog_paragragh'>
					 For this task, I wrote both the back-end and the front-end during past few days. The funny thing is that I always think that back-end takes lots of thought and meticulous tuning and the front-end should just easy peasy lemon squicy. However I was very wrong :P
				</div>

				<div class = 'blog_paragragh'>
						I spent one day writing and testing the API and two days writing the Angular front-end. I have to admit Angular is the most confusing thing I have ever encountered in my coding life... because there are just so many things going on here and there and here and there and ALL OVER THE PLACE... Like mind-blowingly complicated. For example, to make a simple change like this one, I edited 9 files in the front end while in back end I only changed 1 :)
				</div>

				<div class = 'blog_paragragh'>
						Before I questioned why my boss (Alex) wanted to put me in the back-end team. Now I get it. Back-end is so much less painful. I'm still happy that I tried to write front-end this time. Feeling some super power right now haha
				</div>
				<iframe src="https://giphy.com/embed/vzO0Vc8b2VBLi" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

			<div class = 'blog_section'>
				# S H O E S
			</div>
				<div class = 'blog_paragragh'>
						GEEEEEZ!! This obsession with sneakers has been growing on me!! Every night I spend hours and hours from one app to another, from one website to anther, just staring at shoes. Can you imagine this?
				</div>
				<div class = 'blog_paragragh'>
				 But DAMN shoes are so cute.. I used to have friends who are obsessed with street culture and would stand for hours in line to buy the newest Yeezy and Bape shit and I just didn't get it, like they are JUST SHOES. But recently because Namshi kept sending me all these emails and promotions and updates on sneakers, I started looking at sneakers every single day. And they fukn look cuter and cuter every day... How did this happen?
				</div>
				<div class = 'blog_paragragh'>
				 	Hmmm I hereby announce that consumerism has devoured me. Sneakers can take my soul now :P
				</div>
				<div class = 'blog_paragragh'>
				 	PS... my Ultraboost should arrive tomorrow or the day after tomorrow. My heart is overflown with joy.
				</div>
				<iframe src="https://giphy.com/embed/5GoVLqeAOo6PK" width="480" height="375" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

			<div class = 'blog_title'><h3> First blog oh yeah </h3></div>
				<div class = 'blog_paragragh'>
					It has been a while that I actually sit down to write something for someone else (and for myself :P).
					The recent phase I'm going through definitely feels fun, weird and unusual. From the care-free environment of college to the acutal 8-hour a day working, it's been quite hectic and lots of mixed emotions for me. I'm happy that so far so good. Life in Dubai is very comfortable and relaxing and I enjoy it so far :P
			  </div>

			  <div class = 'blog_section'>
					<b># NAMSHI</b>
			  </div>
						<div class = 'blog_paragragh'>
							A startup that is bit too old & big to be a startup but still super flexible on tech updates and changes. I think this company might be among one of the COOLEST one in Dubai. Coolest meaning there has been 1) a sense of close-knit community (the leads are trying very hard to build one); 2) the super-young, energetic and fashionable culture; 3) remarkable business growth and expansion in the past few years.
						</div>
						<div class = 'blog_paragragh'>
							I've been talking to people and trying to know more about this company and it is inspring to see how a simple business idea turns into a pretty giant thing within a short span of time (couple years?)
					  </div>
				<div class = 'blog_section'>
					<b># Life</b>
			  </div>
						<div class = 'blog_paragragh'>
							Work life balance is extremely hard for me to achieve in this phase since I have been making new friends in and out of Namshi, and with my house mates. There are a wild range of different funky cultures going on. In company it is mostly serious and work-centric and after work it is funky shit and poi dance and cooking :P. Very hard for me to choose what to do after work: learn more tech stuff or just chill and have fun with friends?
					  </div>
			  <div class = 'blog_section'>
				  <b># Other random stuff</b>
			  </div>
						<div class = 'blog_paragragh'>
								Gym has been amazing! Since my period came I'm probably not going to gym for couple days... but I'm so ready to start! Last week I worked on my butt, abs and some chest. I want to work on my chest and some shoulder next time :P
						</div>
						<div class = 'blog_paragragh'>
								My ear is still huring as right now but I've been taking ear drops so far. Hopefully the pain will go away tomorrow!
						</div>
						<div class = 'blog_paragragh'>
								Diggy cooked Mac & Cheese for me today and it was really amazing!! I watched how he did it so I can cook it next time too :P...
						</div>
						<div class = 'blog_paragragh'>
								 Sidd told me a female friend of his said she was drugged by another friend of Sidd couple nights ago... Apparently this girl and the guy went to a club, drunk a lot and they drove above speed limit and drove into the airport... And the girl said he drugged her and she passed out twice? And the next day police came to them and gave them couple fines.. I was really shocked to hear the story and everyone seemed really concerned coz it seemed like the girl was sexually assaulted but I'm not sure. Very weird :/
						</div>
						<div class = 'blog_paragragh'>
								Another weird thing happened in my company is that a colleague of my who is a Front-End Software Engineer absconded the country?! He wrote us an email saying that he has to go back to India because his grandpa passed away and he needed to be away for a week. But after a week he asked for another week. So our boss emailed him and some conversation happened between them and then it seemed like the colleague does not plan to come back to the country anymore?! It was very shocking news to everyone in the company too considering he just joined for a bit more than a month and has two cars in Dubai and has a wife in Dubai... We don't know really what happened but we think he might be in some sort of trouble.
						</div>
						<div class = 'blog_paragragh'>
								Anyways! I'll write more tomorrow!
						</div>

	</div>
		<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	</body>
</html>
