a, a:link, a:visited, a:focus, a:hover, a:active{
    color:black;
    text-decoration:none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-banner{
  text-align: center;
  width: 40%;
  display: block;
  margin: auto;
}

.Banner{
    margin-top: 50px;
    margin-bottom: 30px;
}

body {
    width: 100%;
    height: 2000px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.Border {
  position: fixed;
  top: 0;
  left: 0;
  border: 8px solid #fdd100;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: -1;
}

.Line{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 8px solid  #fdd100;
    margin-top: 20px;
}

.Category{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;
}



